body {
    background-color: rgba(100, 100, 100, 1); 
    background-image: url("http://vignette1.wikia.nocookie.net/gameshows/images/a/a6/Jeopardy_game_board.JPG/revision/latest?cb=20131230022134");
    background-size: 100%;
}

#wholeBoard{
    background-color: rgba(0, 0, 255, 0.8);
    border: 5px solid black;
    color: yellow;
    border-spacing: 0;
    margin:0 auto;
    height: 700px;
    width: 1100px;
}

.topOfBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.catagory {
    background-color: blue;    
    display: flex;
    background-image: url("http://i0.kym-cdn.com/photos/images/newsfeed/001/078/032/183.jpg");
    background-size: 100%;
    
}

.tile {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    font-size: 20px; 
    font-family: 'Arial', sans-serif;
    width: 215px;
    height: 100px;
}

button {
    background-color: blue;
    color: yellow;
    height: 100px;
    width: 215px;
}

.question {
}

.game:hover {
    border-color: yellow;
    border-width: 3px
}

#qDisplay {
    background-color: blue;
    height: 1400px;
    width: 1500px;
   
}


