body {
    background-color: rgba(100, 100, 100, 1); 
}
nav {
    height: 10px;
    background-color: blue;
}
#wholeBoard{
    background-color: rgba(0, 0, 255, 0.8);
}
.topOfBoard {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.catagory {
    background-color: blue;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


}

.gameboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}